.container {
  max-width: 80%;
  margin: 40px auto;
  margin-bottom: -20px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.intro {
  text-align: center;
  margin-bottom: 30px;
}
.highlight {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid #333; /* Unterstrich */
  display: inline-block;
}

.ceo {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}

.intro h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.jobs {
  text-align: center;
}

.jobs h2 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 20px;
}

.jobs ul {
  list-style: none;
  padding: 0;
}

.jobs li {
  margin: 10px 0;
}

.jobLink {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.1rem;
  color: #40E0D0;
  text-decoration: none;
  border: 2px solid #40E0D0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.jobLink:hover {
  background: linear-gradient(to right, #40E0D0, #1E90FF);
  color: white;
  border-color: #1E90FF;
}
