.borderedContainer {
  border: 3px solid #00b4d8;
  border-radius: 8px;
  /* oben weniger, seitlich/unten normal */
  padding: 0.75rem 1.25rem 1.5rem;
  background-color: #fff;
}


.textfeldContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stepNumber {
  background-color: #00b4d8;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.headingSection {
  font-size: 1.5rem;
  font-weight: 600;
}

.iconTooltip {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  color: #666;
  cursor: pointer;
}

.tooltipText {
  visibility: hidden;
  width: 240px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 8px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 0.85rem;
  transition: opacity 0.3s ease;
}

.iconTooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

