/* /src/app/styles/Navbar.module.css */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.navbar {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    position: relative;
    height: 50px;
    margin-top: 20px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

/* Buttons */
.navButton {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    padding: 10px 15px;
    color: black; /* Standardfarbe für den Text ist schwarz */
    transition: color 0.3s ease;
}

/* Hover-Effekt für Links */
.navItem:hover .navButton {
    color: #007BFF; /* Ändert die Textfarbe in Blau beim Hover */
}

/* Mobile Hamburger Button */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s;
}

/* Mobile Navigation */
.navList.active {
    display: block; /* Zeige das Menü, wenn es aktiviert ist */
}

.navList {
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex; /* Zeige den Hamburger-Button auf mobilen Geräten */
    }

    .navbar {
        max-width: 90% !important;
    }

    .navList {
        display: none; /* Standardmäßig wird die Liste auf mobilen Geräten versteckt */
        position: absolute;
        top: 60px; /* Direkt unter der Navbar */
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
    }

    .navList.active {
        display: flex; /* Wenn das Menü geöffnet ist, wird die Liste angezeigt */
    }

    .navItem {
        width: 100%; /* Die Links nehmen die gesamte Breite ein */
    }

    .navButton {
        padding: 15px;
        width: 100%;
        text-align: center;
    }
}

