.container {
  max-width: 90%;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  text-align: left;
}

.subheading {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 20px;
}

.section {
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  margin-top: 10px;
}

.backButton {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 20px auto;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, #00cccc, #0088cc);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
}

.backButton:hover {
  background: linear-gradient(90deg, #0088cc, #00cccc);
}

/* Mobile Anpassungen */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .heading {
    font-size: 1.25rem;
  }

  .subheading {
    font-size: 1.0rem;
  }

  .section {
    font-size: 0.9rem;
  }

  .backButton {
    font-size: 0.9rem;
    padding: 8px;
  }
}
