.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.section {
  margin-bottom: 20px;
}

.sectionTitle {
  color: #40E0D0; /* Türkis passend zu deinem Design */
  border-bottom: 2px solid #40E0D0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.text {
  color: #555;
  line-height: 1.6;
}
