.container {
  max-width: 90%;
  background-color: white;
  margin: 0 auto;
  margin-top: 00px;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  text-align: left;
}

.subheading {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 20px;
}

.section {
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  margin-top: 10px;
}

.backButton {
  display: block;
  width: 60%;
  max-width: 250px;
  margin: 60px auto;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #00b5d8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-family: 'Oswald';
}

.backButton:hover {
  background-color: #00e5ff;
}

/* Mobile Anpassungen */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .heading {
    font-size: 1.25rem;
  }

  .subheading {
    font-size: 1.0rem;
  }

  .section {
    font-size: 0.9rem;
  }

  .backButton {
    font-size: 0.9rem;
    padding: 8px;
  }
}
